@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-barlow-condensed font-normal;
    font-size: 17px;
  }

  .main-background {
    position: relative;
    z-index: 1;
    @apply text-white;

  }
  

  .main-background::before, .main-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  .main-background::before {
  
    background-image: url('./images/background.jpg');
    background-size: 100% auto;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    opacity: 0.09;
    filter: grayscale(100%) blur(1px);
    z-index: -1;
  }
  .main-background::after {
    background: 
  
      repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.025) 0px,
        rgba(255, 255, 255, 0.025) 1px,
        transparent 1px,
        transparent 12px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.025) 0px,
        rgba(255, 255, 255, 0.025) 1px,
        transparent 1px,
        transparent 12px
      ),
     
      linear-gradient(to bottom right, #111827, #1f2937, #111827);
    filter:  blur(0.5px);
    z-index: -2;
  }
}

@layer components {
  .dartboard-button {
    @apply bg-dartboard-red hover:bg-red-700 text-white font-bold py-2 px-4 transition-colors duration-200;
  }
  
  .dartboard-button:disabled {
    @apply bg-gray-600 cursor-not-allowed;
  }

  .btn-gray {
    @apply text-base px-3 py-1 bg-gray-600 font-normal text-white hover:bg-gray-500 transition-colors whitespace-nowrap;
  }
  
  .score-input {
    @apply bg-gray-800 border border-gray-600  px-4 py-3 text-center text-2xl font-bold text-white focus:border-dartboard-red focus:outline-none transition-colors duration-200;
  }
  
  .score-input.invalid {
    @apply border-red-500 bg-red-900/20;
  }
  
  .player-card {    
    @apply bg-gray-800  p-4 border-2 transition-all duration-300;
  }
  
  .player-card.active, .player-card--actionable.inactive:hover {
    @apply border-dartboard-red shadow-lg shadow-red-500/20;
  }
  
  .player-card.inactive {
    @apply border-gray-600;
  }

  .home-mode-card {
    @apply font-barlow-condensed font-bold;
  }

  .home-mode-card__title {
    @apply font-oswald font-bold inline-block text-logo;
    transform: skewX(-8deg);
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  
  .stat-well {
    @apply bg-gradient-to-br from-gray-700/55 via-gray-700/45 to-gray-800/55;
    @apply backdrop-blur-sm;
    @apply border border-gray-600/25;
    @apply transition-all duration-300;
    @apply hover:from-gray-700/95 hover:via-gray-700/85 hover:to-gray-800/95;
    @apply hover:border-gray-500/40;
    @apply hover:shadow-lg hover:shadow-black/20;
    @apply px-4 py-2 text-left grid grid-cols-3 w-full ;

 
      line-height: 1.5;
      text-align: start;
    
    
  }
}
